* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.html-class-header{
	position: relative;
	padding: 30px 15px;
	color: rgba(255,255,255, .75);
	text-align: center;
	text-shadow: 0 1px 0 rgba(0,0,0,.1);
	background-color: #6f5499;
	background-image: -webkit-gradient(linear,left top,left bottom,from(#563d7c),to(#6f5499));
	background-image: -webkit-linear-gradient(top,#563d7c 0,#6f5499 100%);
	background-image: -o-linear-gradient(top,#563d7c 0,#6f5499 100%);
	background-image: linear-gradient(to bottom,#563d7c 0,#6f5499 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#563d7c', endColorstr='#6F5499', GradientType=0);
	background-repeat: repeat-x;
}

.html-class-header
{
	font-size: 20px;
	margin-bottom: 40px;
}
.html-class-header h1
{
	color: #fff;
	margin-top: 0;
}
.html-class-header p
{
	font-weight: 300;
	line-height: 1.4;
	margin-bottom: 0;
}
.html-class-header .container
{
	position: relative;
}
@media (min-width:768px)
{
	.html-class-header
	{
		font-size: 24px;
		padding-bottom: 60px;
		padding-top: 60px;
		text-align: left;
	}
	.html-class-header h1
	{
		font-size: 60px;
		line-height: 1;
	}
}
@media (min-width:992px)
{
	.html-class-header h1,.html-class-header p
	{
		margin-right: 380px;
	}
}

.html-class-section
{
	margin-bottom: 60px;
}
.html-class-section:last-child
{
	margin-bottom: 0;
}

.html-class-sidebar.affix
{
	position: static;
}
@media (min-width:768px)
{
	.html-class-sidebar
	{
		padding-left: 20px;
	}
}
.html-class-sidenav
{
	margin-bottom: 20px;
	margin-top: 20px;
}
.html-class-sidebar .nav>li>a
{
	color: #999;
	display: block;
	font-size: 13px;
	font-weight: 500;
	padding: 4px 20px;
}
.html-class-sidebar .nav>li>a:hover,.html-class-sidebar .nav>li>a:focus
{
	background-color: transparent;
	border-left: 1px solid #563d7c;
	color: #563d7c;
	padding-left: 19px;
	text-decoration: none;
}
.html-class-sidebar .nav>.active>a,.html-class-sidebar .nav>.active:hover>a,.html-class-sidebar .nav>.active:focus>a
{
	background-color: transparent;
	border-left: 2px solid #563d7c;
	color: #563d7c;
	font-weight: 700;
	padding-left: 18px;
}
.html-class-sidebar .nav .nav
{
	display: none;
	padding-bottom: 10px;
}
.html-class-sidebar .nav .nav>li>a
{
	font-size: 12px;
	font-weight: 400;
	padding-bottom: 1px;
	padding-left: 30px;
	padding-top: 1px;
}
.html-class-sidebar .nav .nav>li>a:hover,.html-class-sidebar .nav .nav>li>a:focus
{
	padding-left: 29px;
}
.html-class-sidebar .nav .nav>.active>a,.html-class-sidebar .nav .nav>.active:hover>a,.html-class-sidebar .nav .nav>.active:focus>a
{
	font-weight: 500;
	padding-left: 28px;
}

@media (min-width:992px)
{
	.html-class-sidebar .nav>.active>ul
	{
		display: block;
	}
	.html-class-sidebar.affix,.html-class-sidebar.affix-bottom
	{
		width: 213px;
	}
	.html-class-sidebar.affix
	{
		position: fixed;
		top: 20px;
	}
	.html-class-sidebar.affix-bottom
	{
		position: absolute;
	}
	.html-class-sidebar.affix-bottom .html-class-sidenav,.html-class-sidebar.affix .html-class-sidenav
	{
		margin-bottom: 0;
		margin-top: 0;
	}
}
@media (min-width:1200px)
{
	.html-class-sidebar.affix-bottom,.html-class-sidebar.affix
	{
		width: 263px;
	}
}

.html-class-footer
{
	border-top: 1px solid #e5e5e5;
	color: #777;
	margin-top: 100px;
	padding-bottom: 40px;
	padding-top: 40px;
	text-align: center;
}
.html-class-footer-links
{
	color: #999;
	margin-top: 20px;
	padding-left: 0;
}
.html-class-footer-links li
{
	display: inline;
	padding: 0 2px;
}
.html-class-footer-links li:first-child
{
	padding-left: 0;
}
@media (min-width:768px)
{
	.html-class-footer p
	{
		margin-bottom: 0;
	}
}

.html-class-featurette+.html-class-footer
{
	border-top: 0;
	margin-top: 0;
}
